---
import CardInstructor from '../CardInstructor/CardInstructor.astro';
import { data }  from './properties'

const { isCard } = Astro.props
---
{data.map(({name, src, description, social}, id, { length })=>(
  <div id={`item${id}`} class={`w-full min-h-[400px] justify-center shadow-base-300 shadow-md ${isCard && 'card'}`}>
    <CardInstructor 
      social={social}
      isCard={isCard} 
      name={name} 
      src={src} 
      description={description}/>
  </div>
))}
