---
import Avatr from "../Avatar/Avatr.astro";
import Github from "../Icons/Github.astro";
import Linkedin from "../Icons/Linkedin.astro";
import styles from './styles.module.css'
interface Props {
  src?: string;
  name?: string;
  description?: string;
  isCard?: boolean
  social?: any;
}

const { src, name, description, isCard, social } = Astro.props

---

<div class={`flex flex-col justify-center align-center mh-84 gap-8 ${isCard && 'card-body border rounded'}`}>
  <Avatr src={src} />
  <h4 class="text-center text-xl font-black">{name}</h4>
  <div class="h-12">
    {description &&  <p class="text-center h-24">{description}</p>}
  </div>
  <div class="flex justify-center mb-2 gap-2">
    <a class={styles.purple} href={social?.github}>
      <Github />
    </a>
    <a class={styles.purple} href={social?.linkedin}>
      <Linkedin />
    </a>
  </div>
</div>
